<%= link_to 'トップページへ', root_path, class: "btn btn-large btn-outline-warning" %>
<h1>目標一覧</h1>
<div>
  <% @contents.each do |content| %>
  <div>
    投稿日時：<%= l content.created_at %>
  </div>
  <div>
    ニックネーム：<%= content.nickname %>
  </div>
  <div>
    スタディルール：<%= content.study_rule %>
  </div>
  <div>
    一日でやること：<%= content.text %>
  </div>
  ---------------------------------------
  <% end %>
</div>