<%= link_to '目標一覧へ',contents_path %>
<h1>本日の目標設定</h1>
<%= form_with model: @content, local: true do |f| %>
<div>
  <%= f.label :nickname %>
  <%= f.text_field :nickname %>
</div>
<div>
  <%= f.label :study_rule, placeholder: 'ニックネーム' %>
  <%= f.text_area :study_rule, placeholder: '今日のスタディルール' %>
</div>
<div>
  <%= f.label :text %>
  <%= f.text_area :text, placeholder: '今日やること', rows: 10 %>
</div>
<div>
  <%= f.submit '送信' %>
</div>
<% end %>